@using BizzBingo.Web.Areas.Wiki.Models
@using BizzBingo.Web.Models
<form>
<fieldset>
<div class="row">
    <div class="span17">
        <div class="clearfix">
            <label for="xlInput">Title</label>
            <div class="input">
              <input class="xlarge" id="xlInput" name="xlInput" size="30" type="text">
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="span11">
        <div class="clearfix">
            <label for="disabledInput">Description</label>
            <div class="input">
              <textarea class="xxlarge" name="textarea" id="textarea" rows="3"></textarea>
            </div>
          </div>
    </div>
</div>
</fieldset>
</form>

@section Scripts
{
    <script type="text/javascript">

    </script>
}
