@using BizzBingo.Web.Areas.Wiki.Models
@using BizzBingo.Web.Models
@model Term

@{
    ViewBag.Title = "Why " + Model.Title + " sucks";
}

<div class="hero-unit">
    <h1>Why @Model.Title sucks</h1>
    <p>
        ... really.</p>
    <p>
</div>
<div class="row">

    <div class="span16">
        <div class="page-header">
    <h1>About Bootstrap <small>Brief history, browser support, and more</small></h1>
  </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus iaculis eleifend. Etiam at dui aliquam purus pretium lobortis id sit amet nibh. Proin quis neque at magna sagittis aliquet in elementum sapien. Donec a nulla sed dolor venenatis pellentesque. Duis a interdum leo. Integer a dui vitae ante rutrum auctor. Donec porttitor metus sit amet velit facilisis tincidunt. Aliquam risus neque, molestie ac malesuada vel, sollicitudin quis leo.</p>
    </div>

</div>