$ cat .gitignore

# Use wildcards as well
*.suo
*.user
*.Publish.xml

# Can also ignore all directories and files in a directory.
BizzBingo.Web/App_Data/**/* 
BizzBingo.Web/bin/**/* 
BizzBingo.Web/obj/**/* 