<div class="alert-message block-message warning">
    <p><strong>Holy guacamole! You don´t have an account or are not logged in!?</strong> Why not simple sign in with Twitter and get some reputation by adding this information?</p>
    <div class="alert-actions">
        <a style="height: 10px;" href="@Url.Action("Index", "Auth", new { area = "" })"><img src="@Url.Content("~/Content/Images/sign-in-with-twitter-d.png")" alt="Sign in with Twitter" title="Sign in with Twitter"/></a>
    </div>
</div>