@model BizzBingo.Web.Models.User

<a href="http://twitter.com/@Model.Name">
    <img src="http://api.twitter.com/1/users/profile_image/@Model.Name" alt="@Model.Name on Twitter" title="@Model.Name on Twitter" />
</a>