@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="span16">
        <address>
            <strong>Robert Muehsig</strong><br/>
            Guts-Muths-Strasse 27<br/>
            01139 Dresden, Germany<br/>
        </address>
    </div>
</div>
